<div id="pmv-pml-v2" class="react-base-list-wrapper pml-lvw">
  <div id="pmv-pml-v2-g-27383915" class="portal-list-item" data-reactid="152">
    <div class="std-goods-image goods-image" data-reactid="153">
      <img data-reactid="154" src="http://omsproductionimg.yangkeduo.com/images/unknown/0/oN3vPnzztUzEed6NI8liYa2yB4BtMiFt.jpg@750w_1l_50Q.webp">
    </div>
    <p class="goods-name" data-reactid="155">
      <!-- react-text: 156 -->【浪莎出品】【倾品】【冰点价 超值两件套】 睡衣家居服春夏季女装修身短款性感吊带套装女高腰阔腿短裤 S-3XL<!-- /react-text -->
    </p>
    <div class="detail" data-reactid="157">
      <div class="left-side" data-reactid="158">
        <div class="sale-price" data-reactid="159">
          <i data-reactid="160">￥</i>
          <!-- react-text: 161 -->18.3<!-- /react-text -->
        </div>
        <div class="group-desc" data-reactid="162">
            <span data-reactid="163">
              <!-- react-text: 164 -->已拼<!-- /react-text -->
              <!-- react-text: 165 -->9172<!-- /react-text -->
              <!-- react-text: 166 -->件<!-- /react-text -->
            </span>
        </div>
      </div>
      <div class="right-side" data-reactid="167">
        <div class="local-groups" style="" data-reactid="168">
          <span data-reactid="169"></span>
          <div class="avatar">
            <img src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM4GB12m0Yo9c7rw2Ud28SaH0ov0Wvy8SemwNsfs0Ffuu5oUQKJdsndTmoSfibJaiatBalmrTWkl2MybiaoFwbUbrAnmvkQFC6Pb5s/132">
          </div>
          <div class="avatar">
            <img src="http://avatar.yangkeduo.com/a/890b6f4476f72ab8ce6f2e9a8b3ca914f46e4ae3-1502704925?x-oss-process=image/resize,w_100">
          </div>
        </div>
        <div class="enter-button" data-reactid="170">
          <!-- react-text: 171 -->去拼单<!-- /react-text -->
          <i class="icon icon-arrows-right enter-button-arrow-v2" data-reactid="172"></i>
        </div>
      </div>
    </div>
  </div>
</div>
