<!-- Generated template for the EntityComponent component -->
  <div class="quick-entrance-3 quick-entrance-3-scroll" style="width: 100%;height: 155px;touch-action: pan-y pinch-zoom;">

    <ion-slides pager loop>
      <ion-slide>
        <ul class="qe3-scroller" style="width: 100%;">
          <li class="qe3-row">
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/spike.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>限时秒杀</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/subjects_14_act_170814_v1.gif"></div><div class="qe3-cube-text"><span>品牌清仓</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/economical_brand.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>名品折扣</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/subjects_11.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>品质水果</span></div></div></div>
          </li>
          <li class="qe3-row">
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/subjects_15.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>爱逛街</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/subjects_12.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>9块9特卖</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/attendance_new.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>新歌声签到</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/subjects_17.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>美食汇</span></div></div></div>
          </li>
        </ul>
      </ion-slide>
      <ion-slide>
        <ul class="qe3-scroller" style="width: 100%;">
          <li class="qe3-row">
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/assist_free_coupon.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>助力享免单</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/flash_groups.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>极速红包</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/subjects_18.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>家居优品</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/sing_china_vote.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>新歌声投票</span></div></div></div>
          </li>
          <li class="qe3-row">
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/subjects_19.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>手机充值</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/subjects_23.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>电器城</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/subjects_22.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>时尚穿搭</span></div></div></div>
            <div class="qe3-item"><div class="qe3-cube"><div class="qe3-item-img-box"><img class="qe3-iib-img" src="http://pinduoduoimg.yangkeduo.com/entrance/v5/subjects_24.png@750w_1l_50Q.webp"></div><div class="qe3-cube-text"><span>爱轻奢</span></div></div></div>
          </li>
        </ul>
      </ion-slide>
    </ion-slides>


  </div>
