<!-- Generated template for the HeadbarComponent component -->
<div class="component-home-head">
  <ul class="cf-content">
    <li class="cf-tab-item"><span class="cur-cf-tab">首页</span></li>
    <li class="cf-tab-item"><span>服饰</span></li>
    <li class="cf-tab-item"><span>男装</span></li>
    <li class="cf-tab-item"><span>母婴</span></li>
    <li class="cf-tab-item"><span>家居</span></li>
    <li class="cf-tab-item"><span>美食</span></li>
    <li class="cf-tab-item"><span>电器</span></li>
    <li class="cf-tab-item"><span>美妆</span></li>
    <li class="cf-tab-item"><span>家纺</span></li>
    <li class="cf-tab-item"><span>手机</span></li>
    <li class="cf-tab-item"><span>运动</span></li>
    <li class="cf-tab-item"><span>水果</span></li>
  </ul>
</div>

